:root{
    --color-comment: #F2F3F5;
    --color-text: #CCCCCC;
    --fds-disabled-icon: #BEC3C9;
    --fds-disabled-text: #BEC3C9;
    --fds-divider-on-wash: #CCD0D5;
    --fds-divider-on-white: #DADDE1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--fds-divider-on-white);
    overflow-x: hidden;
}

header{
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
}

header .logo{
    height: 100%;
    width: 27%;
    position: relative;
    display: flex;
    align-items: center;
}

.logo img{
    margin-left: 15px;
    height: 40px;
    margin-right: 20px;
}

.logo input{
    width: 240px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background: var(--color-comment);
    color: var(--color-text);
    padding-left: 15px;
}

header div#menu{
    width: 43%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

div#menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2px 0px;
}

div#menu ul li{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#menu ul li:hover{
    background: var(--fds-divider-on-white);
}

ul li img{
    height: 23px;
}

header div#more{
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.user{
    display: flex;
    width: 45%;
    align-items: center;
}

.user .img{
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: var(--color-comment);
    margin-right: 5px;
}

.user .img img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

div#more ul{
    width: 55%;
    height: 60px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#more ul div.icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color-comment);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul div.icon li img{
    width: 20px;
    height: 20px;
}




.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

section#menu-esquerdo{
    width: 27%;
    padding: 20px 20px;
}

section#menu-esquerdo .user{
    width: 80%;
}

section#menu-esquerdo ul{
    width: 100%;
    text-decoration: none;
    list-style: none;
}

section#menu-esquerdo ul li{
    width: 80%;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

section#menu-esquerdo ul li img{
    margin-right: 10px;
}

section#menu-esquerdo ul li:hover{
    background: var(--fds-disabled-icon);
}



main{
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*estilo dos stories*/

main div#container-stories{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

main div#container-stories .story{
    width: 18%;
    height: 100%;
    background: white;
    border-radius: 15px;
    position: relative;
}

main div#container-stories .story img{
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
}

main div#container-stories .story:first-child{
    display: flex;
    flex-direction: column-reverse;
}

main div#container-stories .story:first-child img{
    height: 65%;
    top: 0;
    border-radius: 15px 15px 0px 0px;
}

main div#container-stories .story:first-child div#new-story{
    width: 100%;
    padding: 10px;
    text-align: center;
}

main div#container-stories .story .img-name{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    padding: 10px;
}

main div#container-stories .story .name{
    position: relative;
    width: 100%;
    color: white;
    font-weight: bold;
    top: 100%;
    transform: translateY(-100%);

}

main div#container-stories .story .img-pessoa{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid blue;
}

main div#container-stories .story .img-name .img-pessoa img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main div#new-post{
    width: 85%;
    height: 140px;
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

main div#new-post div#new-text{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.img-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.img-profile img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main div#new-post div#new-text input{
    width: 400px;
    height: 40px;
    margin-left: 15px;
    border-radius: 15px;
    border: none;
    background: var(--color-comment);
    padding: 15px;
    font-size: 12pt;
    outline: none;
}

main div#new-post div#new-multimedia{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}

main div#new-post div#new-multimedia .box-multimedia{
    display: flex;
    align-items: center;
    font-weight: 800;
    color: rgba(0,0,0,.7);
}

main div#new-post div#new-multimedia .box-multimedia img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.section-post{
    width: 85%;
    background: #fff;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.section-post header{
    display: flex;
    flex-direction: column;
    background: #fff;
}

.section-post header .header{
    width: 100%;
    height: 65px;
    border-radius: 15px 15px 0 0;
    display: flex;
    background: #fff;
    align-items: center;
}

.section-post header .header .who{
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 15px;
}

.section-post header .header .who .name-hour{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.section-post header .header .who .name-hour span{
    margin-bottom: 5px;
}

.section-post header .header .who .name-hour span:last-child{
    font-size: 10pt;
    color: rgba(0,0,0,.6);
}

.section-post header .header .options{
    height: 100%;
    margin-left: 40%;
    font-size: 20pt;
    transform: translateX(-100%);
}

.section-post header .header .options span{
    margin: auto 0;
}

.section-post header .subtitle{
    padding: 10px 15px;
    background: #fff;
    height: 55px;
    position: relative;
}

.section-post .post{
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 200px;
}

.section-post .post img{
    position: absolute;
    width: 100%;
    height: 100%;
}

section#menu-direito{
    width: 27%;

}




